  <div>
    <label>Artist name:</label> <input #artistName />
    <label>Artist speciality:</label> <input #artistSpeciality />
    <button (click)="add(artistName.value, artistSpeciality.value); artistName.value=''; artistSpeciality.value=''">
      Add
    </button>
  </div>
  <ul class="artists">
    <li *ngFor="let artist of artistsList" 
      [class.selected]="artist === selectedArtist"
      (click)="onSelect(artist)">
      <span class="badge">{{artist.id}}</span>
      <span>{{artist.name}} is a {{artist.speciality}} hero</span>
      <button class="delete" (click)="delete(artist); $event.stopPropagation()">x</button>
    </li>
  </ul>
  <div *ngIf="selectedArtist">
    <h2>
      {{selectedArtist.name | uppercase}} is my artist
    </h2>
    <button (click)="gotoDetail()">View Details</button>
  </div>